@model DoctorViewModel;


<h1>Datos del profesional que atiende</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DocumentId" class="control-label"></label>
                <input asp-for="DocumentId" class="form-control" id="DocumentId" />
                <span asp-validation-for="DocumentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfessionalCode" class="control-label"></label>
                <input asp-for="ProfessionalCode" class="form-control" id="ProfessionalCode" />
                <span asp-validation-for="ProfessionalCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="Validar datos" class="btn bg-primary" id="VerifyData" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" ID="DataToFill" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" ID="DataToFill" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" id="DataToFill" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" ID="DataToFill" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn bg-primary" ID="DataToFill" />
            </div>

        </form>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        $("[id=DataToFill]").prop("disabled", true);

        $("#VerifyData").click(function (e) {
            e.preventDefault();

            var documentId = $("#DocumentId").val();
            var professionalCode = $("#ProfessionalCode").val();

            if (documentId == null ||
                documentId == "" ||
                professionalCode == null ||
                professionalCode == ""
            ) {
                return;
            }

            $.ajax({
                type: "GET",
                url: '@Url.Action("ValidateDoctor")',
                dataType: "json",
                data: { documentId: documentId, professionalCode: professionalCode },
                success: function (content) {
                    if (content == 0) {
                        $("#VerifyData").slideUp();
                        $("[id=DataToFill]").prop("disabled", false);
                    } else {
                        var url = "@Url.Action("Index", "Clinic")";
                        window.location.pathname = url;
                    }
                }
            })
        });

    </script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
