@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Bienvenido a la  plataforma de recopilacion de información de enfermedades y las
        inyecciones experimentales propuestas para la atención de COVID
    </h1>
    <h3><a href="@Url.Action("Index", "Doctor")">Click para iniciar reporte</a>.</h3>
</div>
